body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #004F44;
  color: #fff;
  margin-top: 4rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

.site-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 10px 20px;
}

.left-texts {
  display: flex;
  gap: 40px; 
}
 
.center-logo img {
  width: 119px;
  height: 112px; 
}

.right-icons {
  display: flex;
  gap: 10px; 
}

.right-icons img {
  width: 14px;
  height: 14px; 
}

.grid-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 245px;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo h1 {
  font-size: 4rem;
}

p {
    margin-top: 0rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.promo button {
  background: #fff;
  color: #004F44;
  border: none;
  width: 156px;
  height: 60px;
  margin-top: 1.3rem;
  font-weight: bold;
}


.cards-layout {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: 1fr 1fr;    
  gap: 8px;
  height: 300px; 
  position: relative;
}

.card.small:nth-child(1) {
  grid-column: 1; 
  grid-row: 1;    
}

.card.small:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  position: relative;  
  z-index: 2; 
  display: block; 
}


.card.big {
  grid-column: 2;      
  grid-row: 1 / span 2; 
  width: 100%;
  height: 100%; 
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%); 
  -webkit-mask-repeat: no-repeat; 
  -webkit-mask-size: cover; 
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%); 
  mask-repeat: no-repeat; 
  mask-size: cover;
}

img {
  width: 222px;
  height: 285px;
}

.back {
    position: absolute;
    top: 485px;  
    left: -40px;  
    z-index: 1;
    width: 115px;
    height: 115px; 
}

.caption { 
    position: absolute; 
    bottom: 245px; 
    left: 18px; 
    background: #004F44; 
    color: #fff; 
    font-size: 0.9rem;
    padding: 10px 17px;
    font-weight: bold;
}

.captionn { 
    position: absolute; 
    bottom: -48px; 
    left: 18px; 
    background: #004F44; 
    color: #fff; 
    font-size: 0.9rem;
    padding: 10px 17px;
    font-weight: bold;
}

.captionnn { 
    position: absolute; 
    bottom: 245px; 
    left: 248px; 
    background: #004F44; 
    color: #fff; 
    font-size: 0.9rem;
    padding: 10px 17px;
    font-weight: bold;
}

.captionnnn { 
    position: absolute; 
    bottom: -200px; 
    left: 248px; 
    color: #fff; 
    font-size: 2rem;
    font-weight: bold;
}

.captionnnnn { 
    position: absolute; 
    bottom: -270px; 
    left: 248px; 
    background: white; 
    color: #004F44; 
    font-size: 0.9rem;
    padding: 13px 150px;
    font-weight: bold;
}

@media (max-width: 1024px) { 
    .grid-layout { 
        grid-template-columns: 1fr;  
        column-gap: 0; row-gap: 20px; 
     } 
     .promo h1 {
        text-align: center;
     }
     p {
        text-align: center;
        font-size: 1.3rem;
     }
     .promo button {
        margin-left: 12rem;
        width: 50%;
        font-size: 1.3rem;
     }
     .captionnn {
        left: 280px;
     }
     .captionnnn {
        left: 280px;
     }
     .captionnnnn {
        left: 280px;
     }
     .right-icons img {
        width: 30px;
        height: 30px;
     }
     .cards-layout {
        gap: 4px;
     }
}